*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  padding: 5px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: auto;
}
.inputBox input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid rgb(224, 224, 224);
}
.inputActive{
  border: 1px solid #1976d2 !important;
}
.inputBox .calculate{
  padding: 10px;
  background-color: #1976d2;
  color: white;
  outline: 0;
}
.note{
  color: rgb(241, 44, 44);
}
.beforeCalculations{
  font-family: monospace;
  font-size: 16px;
}
table {
  border-collapse: collapse;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 16px;
  width: 100%;
  color: white;
  table-layout: fixed;
  overflow-wrap: break-word;
}
.stepCalculate{
  margin-bottom: 15px;
}
td, th {
  border: 1px solid #607d8b;
  text-align: left;
  padding: 8px;
}
tr{
  background-color: #37474f;
}
tr:nth-child(even) {
  background-color: #263238;
}