*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding: 5px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  width: 320px;
}
.inputBox input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border: 1px solid #1976d2;
}
.inputBox button{
  padding: 10px;
  margin-top: 5px;
}
.note{
  color: rgb(241, 44, 44);
}
.beforeCalculations{
  font-family: monospace;
  font-size: 16px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 16px;
}
.stepCalculate{
  margin-bottom: 15px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}